
a:hover {
    color:black;
}

img{
  width: 100%;
}

img:hover {
    opacity: .8;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         1px 2px 5px 1px rgb(0, 0, 0);
    
}   

.banner h1{
  font-family: 'Playfair Display', serif;
  color:  whitesmoke;
  font-size: 80px;
  margin-bottom: 5px;
  line-height: 1.4em;
}

.banner h2{
  font-family: 'Playfair Display', serif;
  color: whitesmoke;
  font-size: 30px;
  margin-bottom: 5px;
  line-height: 1.4em;
}

.banner{
  font-family: 'Playfair Display', serif;
  height: 100vh; 
  background: #b3bfb8;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.page-header {
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    justify-content: center;
    padding: 10px 20px;
    background: #b3bfb8;
    color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 10;
}
.page-header a{
    color: white;
    padding: 5px 10px;
}
.page-header a:hover {
    color:grey;
    transition: color: 
}
.main-navigation ul li{
    display: inline-block
}
.inline-list li{
    display: inline-block;
    font-family: 'Playfair Display', serif;
}

/* --- history --- */
#about{
  background: #f0f7f4;
  color: black;
  
  height: 100vh;
}

/* --- portfolio --- */

#work{
  background: #b3bfb8;
  color: black;
}

.inline-list{
  display: flex;
}

.flex-list li{
  flex-basis: 100%;
  position: relative;
}

.portfolio-tittle{
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid black;
  transform: translate(-50%, -50%)

}

/* --- contact --- */

#contact{
  background: #f0f7f4;
  color: black;
  justify-content: center;
}

/* --- component --- */

.btn {
  display: inline-block;
  background: black;
  padding: 2em;
  color: whitesmoke;
  font-weight: 500;
  border-radius: 6px;
  transition: all .5s ease;
  animation-name: blink;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.btn:hover{
  background: grey;
  color: black;
}

/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* ---- element style ---- */
  
  body {
    background: #b3bfb8;
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 160%;
  }
 
  h1 {}
  
  h2 {}
  
  h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    padding: 30px 0;
    text-align: center;
  }
  
  /* ---- layout ---- */
  
  .main-footer {
    background: #111;
    color: white;
    padding: 20px 0;
    display: flex;
  }
  
  .container {
    margin: 0 20px;
    max-width: 1024px;
  }
  
  section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  section:nth-of-type(odd){
      color: white
  }
  /* ---- header ---- */
  .page-header h1{
    font-size:1em;
  }


  /* ---- grid list ---- */
  
  .grid-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
  }

  .grid-list li{
    position: relative;
  }

  .grid-list img{
    display: block;
  }

   /* ---- grid text ---- */
  
   .grid-text-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
  }

  .grid-text-list li{
    position: relative;
  }
  
  /* ---- section ---- */

  .section-intro {
    max-width: 90%;
  }

  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
  
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .section-intro {
      text-align: center;
      max-width: 50%;
      margin: 0 auto 30px;
    }
  
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .container {
        margin: 0 auto;
    }
    .page-header h1{
        font-size:2em;
      }
    .portfolio-list li{
      width: 25%;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  
  }

  /* --- Animation functions --- */

  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }